body {
  background: url("../img/background.jpeg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
}

body::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(60, 73, 63, 0.8);
  z-index: -1;
}

.message {
  position: relative;
  top: 250px;
  opacity: 0;
  transition: 0.2s all ease-in-out;
}

.fadeIn {
  top: 200px;
  opacity: 1;
}
