body {
  background: url("../img/background.jpeg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  max-height: 100vh;
  min-height: 100vh;
  overflow-y: hidden;
}
#checkmarkWrapper,
#addTask {
  border: solid;
  border-radius: 15px;
}

body::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(60, 73, 63, 0.8);
  z-index: -1;
}
.checkmarkBtn:hover, .fa-check:hover {
cursor: pointer;
color: green;
}

.logo-wrapper img {
  width: auto;
  height: 3.3rem;
  max-width: 100vw;
}

.message {
  position: relative;
  top: 250px;
  opacity: 0;
  transition: 0.2s all ease-in-out;
}

.tasks-container > .tasks-list {
  height: 60vh;
  overflow-y: scroll;
}

.tasks-container {
  position: relative;
  top: 200px;
  opacity: 0;
  transition: 0.2s all ease-in-out;
}
input:focus, .subTaskText:focus {
  outline: none;
}
/* Fade Logic */
.fadeIn,
.fadeInTaskView {
  top: 200px;
  opacity: 1;
}
.calendarIcon {
  width: 13px;
}
.deleteBigTaskBtn:hover {
  cursor: pointer;
}
.headerButtons {
  color: #FFFCFC;
  background-color: #557D6A;
  position: absolute;
  z-index: 1;
  left: 0;
  right: 0;
  border-radius: 4px 4px 0px 0px;
}
.deleteIconTask {
  width: 13px;
}
.fadeInTaskView {
  top: 0;
}
.deleteBtn:hover {
  cursor: pointer;
}
.fadeAway {
  top: 0px;
  opacity: 0;
  display: none;
}
.deleteIcon {
  width: 15px;
  margin-right: 5px;
}
#addTaskText {
  color: #000;
  font-family: Open Sans;
  font-size: 26px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
#btnContainer {
  position: fixed;
  left: 50%;
  bottom: 5vh;
  transform: translate(-50%, 0);
}
input {
  border: none;
  padding: 5px;
  background: transparent;
  min-height: auto;
}

.subTaskText {
  max-width: 250px;
  font-size: 24px;
}

@media (min-width: 320px) {
  #btnContainer {
    width: 100vw;
  }
  #addTaskText {
    font-size: 20px;
  }
  #checkImg {
    width: 28px;
  }
  .subTaskText {
    max-width: 75px;
    font-size: small;
  }
}
@media (min-width: 480px) {
  .subTaskText {
    max-width: 200px;
    font-size: small;
  }
}
  @media (min-width: 765px) {
    #btnContainer {
      width: 40vw;
    }
    #checkmarkWrapper {
      padding-right: 37px;
    }
   .subTaskText {
    max-width: 450px;
}
  }
  @media (min-width: 872px) {
    #checkmarkWrapper {
      padding-right: 10px;
    }
  }
  @media (min-width: 1281px) {
    #btnContainer {
      width: 25vw;
    }
  }

